@model ProyectoP1Web2.Models.Alumnos_GrupoGimnasio

@{
    ViewBag.Title = "Eliminar";
}

<h3>¿Quieres eliminar esto?</h3>
<div>
    <h4>Alumnos_GrupoGimnasio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Alumno.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumno.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoGimnasio.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoGimnasio.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
