@model IEnumerable<ProyectoP1Web2.Models.Grupo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Semestre
        </th>
        <th>
            Licenciatura
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.semestre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Licenciatura.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idGrupo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idGrupo }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.idGrupo })
        </td>
    </tr>
}

</table>
